<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
   
    <% if (user) { %>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
      <div class="nav-item"
      style="display: flex; margin-left: auto; margin-right: 20px; ">
        <p class="nav-item"
        style="display: flex;font-weight: bolder;text-shadow: 1px 1px khaki; margin-left: auto; margin-right: 20px; margin-top: 15px;">
        Logged In As: <%= user.email %></p>
      </div>
      <form class="logout" action="/logout" method="POST">
        <button type="submit" class="btn btn-primary">logout</button>
      </form>
      
    <% } else { %>
      <div
        class="nav-item"
        style="display: flex; margin-left: auto; margin-right: 20px; "
      >
         </div>
   
        <a class="nav-item nav-link" style="color: red " href = "/login">Login</a>
        <a class="nav-item nav-link" style="color: orange" href = "/register">Register</a>
     
      </div>

      <% } %>
    </div>




  </nav>
</header>
