<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
   
    <% if (username) { %>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>


      <div class="nav-item"
      style="display: flex; margin-left: auto; margin-right: 20px; ">
        <p class="nav-item"
        style="display: flex;font-weight: bolder;text-shadow: 1px 1px khaki; margin-left: auto; margin-right: 20px; margin-top: 15px;">Logged In As: <%= username %></p>
      </div>
      <form class="logout" action="/logout" method="POST">
        <button type="submit" class="btn btn-primary">logout</button>
      </form>
      <a class="navbar-brand" href="/logout"></a>


      <% } else { %>

      <div
        class="nav-item"
        style="display: flex; margin-left: auto; margin-right: 20px; "
      >
         </div>
        <form class="form-inline" action="/login" method="POST">
          <div class="form-group">
            <label for="username"></label>
            <input
              class="form-control"
              type="text"
              name="username"
              placeholder="Enter your username:"
              style="width: 300px; margin: 1em"
            />
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
     
      </div>

      <% } %>
    </div>




  </nav>
</header>
