<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <title>New URL - TinyApp Example</title>
  </head>

  <body>
    <%- include('partials/_header') %>
  
    <main class="main-login">
      <h2 style="margin: 2rem 1rem;" >Login to TinyApp:</h2>

      <form class="form-inline" action="/login" method="POST" style="display:block">
          <label for="loginEmail" style="width: 200px; margin: 1em;">Enter your email address:</label>
          <input
            class="form-control"
            type="email"
            name="email"
            placeholder="user@email.com"
            style="width: 300px; margin: 0.2em 0em 0.5em 1em;"
          />
          
          <label for="loginPassword" style="width:160px; margin: 1em;">Enter your password :</label>
          <input
            type="password"
            name="password"
            style="width: 300px; margin: 0.2em 0em 0.5em 1em;"
          />
          <button type="submit" class="btn btn-secondary" style="margin: 0.2em 1em 0.5em 1em">Login</button>
        </div>
      </form>
    </main>
  </body>
</html>